<form action="" method="post">
    <div class="col-md-6 offset-3">
        <h1>Admin From</h1>
        <div class="card mt-5">
            <div class="card-header">
                <h2 class="text text-center">Admin Form</h2>
            </div>
            <div class="card-body">
                <div class="form-group mt-4">
                    <label>AdminEmail</label>
                    <input type="email" class="form-control" name="email" placeholder="AdminEmail">
                </div>
                <div class="form-group mt-4">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Admin</button>
            </div>
        </div>
    </div>
</form>